In [1]:
import pandas as pd

In [2]:
excel_file_path3 = 'C:/Users/ASUS/OneDrive/Documents/中信兄弟/Trackman/球種回填(2018~2020).xlsx'
excel_file_path4 = 'C:/Users/ASUS/OneDrive/Documents/中信兄弟/Trackman/2021_trackman.xlsx'
excel_file_path5 = 'C:/Users/ASUS/OneDrive/Documents/中信兄弟/Trackman/2022_trackman.xlsx'
#excel_file_path6 = 'C:/Users/ASUS/OneDrive/Documents/中信兄弟/Trackman/2023_trackman1.xlsx'
#excel_file_path7 = 'C:/Users/ASUS/OneDrive/Documents/中信兄弟/Trackman/2023_trackman2.xlsx'
excel_file_path1 = 'C:/Users/ASUS/OneDrive/Documents/中信兄弟/Season_data/2024_non_trackman.xlsx'
excel_file_path2 = 'C:/Users/ASUS/OneDrive/Documents/中信兄弟/Season_data/2023_non_trackman.xlsx'
sheet_name = 'Sheet1'

## 紀錄系統

In [3]:
data_2024 = pd.read_excel(excel_file_path1, sheet_name=sheet_name)
data_2023 = pd.read_excel(excel_file_path2, sheet_name=sheet_name)

In [4]:
non_track = pd.concat([data_2023, data_2024], ignore_index=True)

In [5]:
non_track

,id,gameId,stadium,umpireInChief,date,eType,awayScores,homeScores,inning,side,...,system,bName,pName,cName,fbName,sbName,tbName,SP,LocalDateTime,trackMan
0,66068a32fa082fd3ad0d6ed8,66068a31fa082fd3ad0d6ed7,臺中市洲際棒球場,NaN,2023-04-01T09:21:00.000Z,P,0,0,1,AWAY,...,TrackMan,陳晨威,德保拉（Jose De Paula）,福來喜,NaN,NaN,NaN,True,NaN,NaN
1,66068a32fa082fd3ad0d6ed9,66068a31fa082fd3ad0d6ed7,臺中市洲際棒球場,NaN,2023-04-01T09:21:00.000Z,P,0,0,1,AWAY,...,TrackMan,陳晨威,德保拉（Jose De Paula）,福來喜,NaN,NaN,NaN,True,NaN,NaN
2,66068a32fa082fd3ad0d6eda,66068a31fa082fd3ad0d6ed7,臺中市洲際棒球場,NaN,2023-04-01T09:21:00.000Z,P,0,0,1,AWAY,...,TrackMan,陳晨威,德保拉（Jose De Paula）,福來喜,NaN,NaN,NaN,True,NaN,NaN
3,66068a32fa082fd3ad0d6edb,66068a31fa082fd3ad0d6ed7,臺中市洲際棒球場,NaN,2023-04-01T09:21:00.000Z,P,0,0,1,AWAY,...,TrackMan,陳晨威,德保拉（Jose De Paula）,福來喜,NaN,NaN,NaN,True,NaN,NaN
4,66068a32fa082fd3ad0d6edc,66068a31fa082fd3ad0d6ed7,臺中市洲際棒球場,NaN,2023-04-01T09:21:00.000Z,P,0,0,1,AWAY,...,TrackMan,陳晨威,德保拉（Jose De Paula）,福來喜,NaN,NaN,NaN,True,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142344,66508a32b54b053fd9e87156,66508a30b54b053fd9e87151,臺北市立天母棒球場 Tianmu Baseball Stadium,彭楚雲,2024-05-17T10:35:00.000Z,P,1,8,9,AWAY,...,TrackMan,張進德,陳冠偉,吉力吉撈．鞏冠,NaN,NaN,NaN,False,'2024-05-21T23:46:43.7700+08:00,"{""PitchNo"":""245"",""Date"":""2024/5/17"",""Time"":""19..."
142345,66508a32b54b053fd9e87155,66508a30b54b053fd9e87151,臺北市立天母棒球場 Tianmu Baseball Stadium,彭楚雲,2024-05-17T10:35:00.000Z,P,1,8,9,AWAY,...,TrackMan,張進德,陳冠偉,吉力吉撈．鞏冠,NaN,NaN,NaN,False,'2024-05-21T23:47:01.8200+08:00,"{""PitchNo"":""246"",""Date"":""2024/5/17"",""Time"":""20..."
142346,66508a32b54b053fd9e87154,66508a30b54b053fd9e87151,臺北市立天母棒球場 Tianmu Baseball Stadium,彭楚雲,2024-05-17T10:35:00.000Z,P,1,8,9,AWAY,...,TrackMan,張進德,陳冠偉,吉力吉撈．鞏冠,NaN,NaN,NaN,False,'2024-05-21T23:47:26.0120+08:00,"{""PitchNo"":""247"",""Date"":""2024/5/17"",""Time"":""20..."
142347,66508a32b54b053fd9e87153,66508a30b54b053fd9e87151,臺北市立天母棒球場 Tianmu Baseball Stadium,彭楚雲,2024-05-17T10:35:00.000Z,P,1,8,9,AWAY,...,TrackMan,董子恩,陳冠偉,吉力吉撈．鞏冠,張進德,NaN,NaN,False,'2024-05-21T23:48:15.5250+08:00,"{""PitchNo"":""248"",""Date"":""2024/5/17"",""Time"":""21..."
142348,66508a32b54b053fd9e87152,66508a30b54b053fd9e87151,臺北市立天母棒球場 Tianmu Baseball Stadium,彭楚雲,2024-05-17T10:35:00.000Z,P,1,8,9,AWAY,...,TrackMan,董子恩,陳冠偉,吉力吉撈．鞏冠,張進德,NaN,NaN,False,'2024-05-21T23:48:31.8160+08:00,"{""PitchNo"":""249"",""Date"":""2024/5/17"",""Time"":""21..."

In [6]:
PitchType_items =non_track['pType'].unique()
PitchType_items

array(['FF', 'CH', 'FC', 'SL', 'CU', 'FO', 'SI', nan, 'EP', 'KN', 'FS'],
      dtype=object)

In [7]:
non_track.pType.value_counts(dropna=False)

pType
FF     66959
SL     25048
CH     14819
CU     12871
SI      7887
FO      6785
FC      6307
NaN     1647
KN        19
FS         5
EP         2
Name: count, dtype: int64

In [8]:
name_mapping = {
    'SL':'Slider',
    'SI':'Sinker', 
    'FF':'Fastball', 
    'CH':'ChangeUp', 
    'CU':'Curveball', 
    'FO':'Splitter', 
    'FC':'Cutter',
    'KN':'Knuckle curve',
    'FS':'Splitter'
    }

# 新增一列"球員"，根据"Pitcher"列的值匹配中文名
non_track['球種'] = non_track['pType'].map(name_mapping)

In [9]:
non_track.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142349 entries, 0 to 142348
Data columns (total 80 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              142349 non-null  object
 1   gameId          142349 non-null  object
 2   stadium         142349 non-null  object
 3   umpireInChief   55961 non-null   object
 4   date            142349 non-null  object
 5   eType           142349 non-null  object
 6   awayScores      142349 non-null  int64
 7   homeScores      142349 non-null  int64
 8   inning          142349 non-null  int64
 9   side            142349 non-null  object
 10  pTeamId         142349 non-null  object
 11  pitcherId       142349 non-null  object
 12  pHand           142349 non-null  object
 13  catcherId       142279 non-null  object
 14  bTeamId         142349 non-null  object
 15  batterId        142349 non-null  object
 16  bHand           142349 non-null  object
 17  paRound         142349 non-null  int64
 18  paOrder         142349 non-null  int64
 19  firstId         48862 non-null   object
 20  secondId        29493 non-null   object
 21  thirdId         15709 non-null   object
 22  balls           142349 non-null  int64
 23  strikes         142349 non-null  int64
 24  outs            142349 non-null  int64
 25  signinAt        67263 non-null   object
 26  startedAt       142098 non-null  object
 27  releasedAt      27199 non-null   object
 28  contactAt       27825 non-null   object
 29  flyCatchAt      11117 non-null   object
 30  groundCatchAt   12262 non-null   object
 31  sbStartedAt     57 non-null      object
 32  sbThrowAt       607 non-null     object
 33  sbCatchAt       557 non-null     object
 34  pickoffAt       1272 non-null    object
 35  strategizedAt   61 non-null      object
 36  tactic          311 non-null     object
 37  velo            136001 non-null  object
 38  rpm             48892 non-null   object
 39  coordX          140513 non-null  float64
 40  coordY          140523 non-null  float64
 41  pType           140702 non-null  object
 42  ev              12373 non-null   object
 43  la              12346 non-null   float64
 44  traj            30812 non-null   object
 45  hardness        29531 non-null   object
 46  locationCode    29948 non-null   object
 47  locationCoordX  30282 non-null   float64
 48  locationCoordY  30282 non-null   float64
 49  ballPassed      21757 non-null   object
 50  isCB            52166 non-null   float64
 51  isWP            52097 non-null   float64
 52  isPB            52084 non-null   float64
 53  isStrike        142349 non-null  bool
 54  call            140857 non-null  object
 55  result          37127 non-null   object
 56  sbsOnPlay       142349 non-null  int64
 57  runsOnPlay      142349 non-null  int64
 58  outsOnPlay      142349 non-null  int64
 59  errorsOnPlay    142349 non-null  int64
 60  tcsOnPlay       52517 non-null   float64
 61  sbList          142349 non-null  object
 62  runList         142349 non-null  object
 63  outList         142349 non-null  object
 64  errorList       142349 non-null  object
 65  tcList          52517 non-null   object
 66  fielders        142349 non-null  object
 67  videoFragments  142349 non-null  object
 68  aimotion        0 non-null       float64
 69  system          41767 non-null   object
 70  bName           142349 non-null  object
 71  pName           142349 non-null  object
 72  cName           142279 non-null  object
 73  fbName          48862 non-null   object
 74  sbName          29493 non-null   object
 75  tbName          15709 non-null   object
 76  SP              142349 non-null  bool
 77  LocalDateTime   55961 non-null   object
 78  trackMan        17614 non-null   object
 79  球種              140700 non-null  object
dtypes: bool(2), float64(10), int64(12), object(56)
memory usage: 85.0+ MB

In [10]:
non_track_result = non_track.groupby(['球種', 'outs', 'balls', 'strikes']).agg({'runsOnPlay': ['count', 'sum']})
non_track_result

                            runsOnPlay
                                 count sum
球種       outs balls strikes
ChangeUp 0    0     0              804  10
                    1              752   9
                    2              356   4
              1     0              419   6
                    1              629  11
...                                ...  ..
Splitter 2    2     1               84   3
                    2              289  16
              3     0                7   0
                    1               21   0
                    2              104   7

[262 rows x 2 columns]

In [11]:
non_track_result.reset_index(inplace=True)
non_track_result

           球種 outs balls strikes runsOnPlay
                                      count sum
0    ChangeUp    0     0       0        804  10
1    ChangeUp    0     0       1        752   9
2    ChangeUp    0     0       2        356   4
3    ChangeUp    0     1       0        419   6
4    ChangeUp    0     1       1        629  11
..        ...  ...   ...     ...        ...  ..
257  Splitter    2     2       1         84   3
258  Splitter    2     2       2        289  16
259  Splitter    2     3       0          7   0
260  Splitter    2     3       1         21   0
261  Splitter    2     3       2        104   7

[262 rows x 6 columns]

## Trackman

In [12]:
col=['Date','球種','PlayResult','RunsScored','Outs','Balls','Strikes','Inning']

In [13]:
track_18_20 = pd.read_excel(excel_file_path3, sheet_name=sheet_name)
track_2021 = pd.read_excel(excel_file_path4, sheet_name=sheet_name)
track_2022 = pd.read_excel(excel_file_path5, sheet_name=sheet_name)

In [14]:
track_18_20= track_18_20[col]
track_2021= track_2021[col]
track_2022= track_2022[col]

In [15]:
data3 = pd.concat([track_18_20, track_2021], ignore_index=True)
data = pd.concat([data3, track_2022], ignore_index=True)
data

,Date,球種,PlayResult,RunsScored,Outs,Balls,Strikes,Inning
0,3/26/2019,Fastball,Undefined,0,0,0,0,1
1,3/26/2019,Fastball,Undefined,0,0,0,1,1
2,3/26/2019,Fastball,Out,0,0,1,1,1
3,3/26/2019,Slider,Undefined,0,1,0,0,1
4,3/26/2019,Fastball,Undefined,0,1,0,1,1
...,...,...,...,...,...,...,...,...
75525,2022-11-09 00:00:00,Slider,Undefined,0,2,0,2,9
75526,2022-11-09 00:00:00,Slider,Undefined,0,2,1,2,9
75527,2022-11-09 00:00:00,Fastball,Undefined,0,2,1,2,9
75528,2022-11-09 00:00:00,Curveball,Undefined,0,2,1,2,9
75529,2022-11-09 00:00:00,Fastball,Undefined,0,2,1,2,9

In [16]:
PitchType_items =data['球種'].unique()
PitchType_items

array(['Fastball', 'Slider', 'Cutter', 'Splitter', 'Curveball',
       'ChangeUp', 'Sinker', 'Other', 'Undefined'], dtype=object)

In [17]:
data = data.dropna()
data = data[data['球種'] != 'Undefined']
data = data[data['球種'] != 'Other']

In [18]:
data.球種.value_counts(dropna=False)

球種
Fastball     39428
Slider       15379
ChangeUp      7107
Curveball     6006
Splitter      3973
Cutter        2591
Sinker        1030
Name: count, dtype: int64

In [19]:
Trackman_result = data.groupby(['球種', 'Outs', 'Balls', 'Strikes']).agg({'RunsScored': ['count', 'sum']})
Trackman_result

                            RunsScored
                                 count sum
球種       Outs Balls Strikes
ChangeUp 0    0     0              461  10
                    1              370   3
                    2              142   1
              1     0              230   8
                    1              325  14
...                                ...  ..
Splitter 2    2     1               63   8
                    2              168  12
              3     0                1   0
                    1               18   0
                    2               65   5

[258 rows x 2 columns]

In [20]:
Trackman_result.reset_index(inplace=True)
Trackman_result

           球種 Outs Balls Strikes RunsScored
                                      count sum
0    ChangeUp    0     0       0        461  10
1    ChangeUp    0     0       1        370   3
2    ChangeUp    0     0       2        142   1
3    ChangeUp    0     1       0        230   8
4    ChangeUp    0     1       1        325  14
..        ...  ...   ...     ...        ...  ..
253  Splitter    2     2       1         63   8
254  Splitter    2     2       2        168  12
255  Splitter    2     3       0          1   0
256  Splitter    2     3       1         18   0
257  Splitter    2     3       2         65   5

[258 rows x 6 columns]

In [21]:
#統一和紀錄系統欄位同名
new_column_names = {
    'Outs': 'outs',
    'Balls': 'balls',
    'Strikes': 'strikes',
    'RunsScored': 'runsOnPlay'
}
Trackman_result.rename(columns=new_column_names, inplace=True)

In [22]:
Trackman_result

           球種 outs balls strikes runsOnPlay
                                      count sum
0    ChangeUp    0     0       0        461  10
1    ChangeUp    0     0       1        370   3
2    ChangeUp    0     0       2        142   1
3    ChangeUp    0     1       0        230   8
4    ChangeUp    0     1       1        325  14
..        ...  ...   ...     ...        ...  ..
253  Splitter    2     2       1         63   8
254  Splitter    2     2       2        168  12
255  Splitter    2     3       0          1   0
256  Splitter    2     3       1         18   0
257  Splitter    2     3       2         65   5

[258 rows x 6 columns]

## 兩結果合併

In [23]:
merged_df = pd.merge(non_track_result, Trackman_result, on=['球種', 'outs', 'balls', 'strikes'], suffixes=('_df1', '_df2'))

# 計算 'count' 和 'sum' 的總和
merged_df['total_count'] = merged_df['runsOnPlay_df1']['count'] + merged_df['runsOnPlay_df2']['count']
merged_df['total_sum'] =  merged_df['runsOnPlay_df1']['sum'] + merged_df['runsOnPlay_df2']['sum']

C:\Users\ASUS\AppData\Local\Temp\ipykernel_10136\351093986.py:1: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  merged_df = pd.merge(non_track_result, Trackman_result, on=['球種', 'outs', 'balls', 'strikes'], suffixes=('_df1', '_df2'))

In [24]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   (球種, )                   250 non-null    object
 1   (outs, )                 250 non-null    int64
 2   (balls, )                250 non-null    int64
 3   (strikes, )              250 non-null    int64
 4   (runsOnPlay_df1, count)  250 non-null    int64
 5   (runsOnPlay_df1, sum)    250 non-null    int64
 6   (runsOnPlay_df2, count)  250 non-null    int64
 7   (runsOnPlay_df2, sum)    250 non-null    int64
 8   (total_count, )          250 non-null    int64
 9   (total_sum, )            250 non-null    int64
dtypes: int64(9), object(1)
memory usage: 19.7+ KB

In [25]:
merged_df

           球種 outs balls strikes runsOnPlay_df1     runsOnPlay_df2      \
                                          count sum          count sum
0    ChangeUp    0     0       0            804  10            461  10
1    ChangeUp    0     0       1            752   9            370   3
2    ChangeUp    0     0       2            356   4            142   1
3    ChangeUp    0     1       0            419   6            230   8
4    ChangeUp    0     1       1            629  11            325  14
..        ...  ...   ...     ...            ...  ..            ...  ..
245  Splitter    2     2       1             84   3             63   8
246  Splitter    2     2       2            289  16            168  12
247  Splitter    2     3       0              7   0              1   0
248  Splitter    2     3       1             21   0             18   0
249  Splitter    2     3       2            104   7             65   5

    total_count total_sum

0          1265        20
1          1122        12
2           498         5
3           649        14
4           954        25
..          ...       ...
245         147        11
246         457        28
247           8         0
248          39         0
249         169        12

[250 rows x 10 columns]

In [26]:
final_df = merged_df[['球種', 'outs', 'balls', 'strikes', 'total_count', 'total_sum']]
final_df

           球種 outs balls strikes total_count total_sum

0    ChangeUp    0     0       0        1265        20
1    ChangeUp    0     0       1        1122        12
2    ChangeUp    0     0       2         498         5
3    ChangeUp    0     1       0         649        14
4    ChangeUp    0     1       1         954        25
..        ...  ...   ...     ...         ...       ...
245  Splitter    2     2       1         147        11
246  Splitter    2     2       2         457        28
247  Splitter    2     3       0           8         0
248  Splitter    2     3       1          39         0
249  Splitter    2     3       2         169        12

[250 rows x 6 columns]

In [27]:
final_df['Expected_Runs']=final_df['total_sum']/final_df['total_count']
final_df

C:\Users\ASUS\AppData\Local\Temp\ipykernel_10136\667761569.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['Expected_Runs']=final_df['total_sum']/final_df['total_count']

           球種 outs balls strikes total_count total_sum Expected_Runs

0    ChangeUp    0     0       0        1265        20      0.015810
1    ChangeUp    0     0       1        1122        12      0.010695
2    ChangeUp    0     0       2         498         5      0.010040
3    ChangeUp    0     1       0         649        14      0.021572
4    ChangeUp    0     1       1         954        25      0.026205
..        ...  ...   ...     ...         ...       ...           ...
245  Splitter    2     2       1         147        11      0.074830
246  Splitter    2     2       2         457        28      0.061269
247  Splitter    2     3       0           8         0      0.000000
248  Splitter    2     3       1          39         0      0.000000
249  Splitter    2     3       2         169        12      0.071006

[250 rows x 7 columns]

In [28]:
final_df.to_excel('各球種球數出局數下的得分期望值(投手).xlsx', index=True)