In [1]:
import pandas as pd

In [2]:
excel_file_path3 = 'C:/Users/ASUS/OneDrive/Documents/中信兄弟/Trackman/球種回填(2018~2020).xlsx'
excel_file_path4 = 'C:/Users/ASUS/OneDrive/Documents/中信兄弟/Trackman/2021_trackman.xlsx'
excel_file_path5 = 'C:/Users/ASUS/OneDrive/Documents/中信兄弟/Trackman/2022_trackman.xlsx'
excel_file_path6 = 'C:/Users/ASUS/OneDrive/Documents/中信兄弟/Trackman/2023_trackman1.xlsx'
excel_file_path7 = 'C:/Users/ASUS/OneDrive/Documents/中信兄弟/Trackman/2023_trackman2.xlsx'
excel_file_path8 = 'C:/Users/ASUS/OneDrive/Documents/中信兄弟/程式碼/Pitch Value/non_track_RE.xlsx'
sheet_name = 'Sheet1'

In [3]:
track_18_20 = pd.read_excel(excel_file_path3, sheet_name=sheet_name)
track_2021 = pd.read_excel(excel_file_path4, sheet_name=sheet_name)
track_2022 = pd.read_excel(excel_file_path5, sheet_name=sheet_name)
track_2023_1 = pd.read_excel(excel_file_path6, sheet_name=sheet_name)
track_2023_2 = pd.read_excel(excel_file_path7, sheet_name=sheet_name)
non_track = pd.read_excel(excel_file_path8, sheet_name=sheet_name)

In [4]:
col=['Date','球種','RunsScored','Outs','Balls','Strikes','Inning']

In [5]:
track_18_20= track_18_20[col]
track_2021= track_2021[col]
track_2022= track_2022[col]
track_2023_1= track_2023_1[col]
track_2023_2= track_2023_2[col]
non_track=non_track[col]

In [6]:
data3 = pd.concat([track_18_20, track_2021], ignore_index=True)
data4 = pd.concat([data3, track_2022], ignore_index=True)
data5 = pd.concat([data4, track_2023_1], ignore_index=True)
data6 = pd.concat([data5, track_2023_2], ignore_index=True)
data = pd.concat([data6, non_track], ignore_index=True)

In [7]:
PitchType_items =data['球種'].unique()
PitchType_items

array(['Fastball', 'Slider', 'Cutter', 'Splitter', 'Curveball',
       'ChangeUp', 'Sinker', 'Other', 'Undefined', 'TwoSeamFastBall',
       'FourSeamFastBall', 'OneSeamFastBall', 'Changeup'], dtype=object)

In [9]:
#data = data.dropna()
data = data[data['球種'] != 'Undefined']
data = data[data['球種'] != 'Other']

In [10]:
result = data.groupby(['球種', 'Outs', 'Balls', 'Strikes']).agg({'RunsScored': ['count', 'sum']})
result

                                   RunsScored
                                        count sum
球種              Outs Balls Strikes
ChangeUp        0    0     0              932  16
                           1              806   7
                           2              353   4
                     1     0              505  12
                           1              721  24
...                                       ...  ..
TwoSeamFastBall 2    2     0                3   0
                           1                1   0
                           2                2   0
                     3     1                2   0
                           2                3   0

[309 rows x 2 columns]

In [11]:
result.reset_index(inplace=True)
result

                  球種 Outs Balls Strikes RunsScored
                                             count sum
0           ChangeUp    0     0       0        932  16
1           ChangeUp    0     0       1        806   7
2           ChangeUp    0     0       2        353   4
3           ChangeUp    0     1       0        505  12
4           ChangeUp    0     1       1        721  24
..               ...  ...   ...     ...        ...  ..
304  TwoSeamFastBall    2     2       0          3   0
305  TwoSeamFastBall    2     2       1          1   0
306  TwoSeamFastBall    2     2       2          2   0
307  TwoSeamFastBall    2     3       1          2   0
308  TwoSeamFastBall    2     3       2          3   0

[309 rows x 6 columns]

In [12]:
result['Expected_Runs']=result['RunsScored']['sum']/result['RunsScored']['count']
result

                  球種 Outs Balls Strikes RunsScored     Expected_Runs
                                             count sum
0           ChangeUp    0     0       0        932  16      0.017167
1           ChangeUp    0     0       1        806   7      0.008685
2           ChangeUp    0     0       2        353   4      0.011331
3           ChangeUp    0     1       0        505  12      0.023762
4           ChangeUp    0     1       1        721  24      0.033287
..               ...  ...   ...     ...        ...  ..           ...
304  TwoSeamFastBall    2     2       0          3   0      0.000000
305  TwoSeamFastBall    2     2       1          1   0      0.000000
306  TwoSeamFastBall    2     2       2          2   0      0.000000
307  TwoSeamFastBall    2     3       1          2   0      0.000000
308  TwoSeamFastBall    2     3       2          3   0      0.000000

[309 rows x 7 columns]

In [13]:
#result.to_excel('各球種球數出局數下的得分期望值.xlsx', index=True)